<div class="container">
  <ul class="collapsible" data-collapsible="accordion">
    <% for message in @messages %>
    <li>
      <div class="collapsible-header">
        <div class="row">
          <div class="col s3">
            <p> <i class="material-icons">label</i> <%=message.sender.first_name%> <%=message.sender.last_name%></p>
          </div>
          <div class="col s8">
            <p><%=message.title%></p>
          </div>
          <div class="col s1" style="padding-top: 15px;">
            <%= link_to "Delete", message_path(message.id), 'data-method' => :delete %>
          </div>
        </div>
      </div>
      <div class="collapsible-body">
        <span><%=message.content%></span>
      </div>
    </li>
    <%end%>
  </ul>
</div>
